body {
  font-family: "STIX Two Math", serif;
  
}
.hello-color {
  color: orange;
}
.half-width{
  width: 50%;
  
}
.half-width img{
  width: 90%;
  padding-left: 15px;
}
.frist-section{
  display: flex;
  padding: px;
}
